<div>
    <p>All Rights Reserved Jack Amsterdam &copy; {{date | date: 'MMMM YYYY'}} </p>
    &nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://wakatime.com/@a78fee14-66a3-4481-8db3-b8983c271faf"><img src="https://wakatime.com/badge/user/a78fee14-66a3-4481-8db3-b8983c271faf.svg" alt="Total time coded since Jan 4 2022" /></a>
    <!-- <button mat-flat-button mat-icon-button><a target="_blank" href='www.linkedin.com/in/jack-amsterdam/'>Linkedin</a></button> -->
    <!-- <button mat-raised-button ><a target="_blank" href='www.linkedin.com/in/jack-amsterdam/'></a>Linkedin</button> -->
    <!-- <br>
    <br>
    <br> -->
    <!-- <a target="_blank" href='www.linkedin.com/in/jack-amsterdam/'><button mat-flat-button color="primary" >Linkedin</button></a> -->
    <!-- <a target="_blank" href='https://github.com/jackamsterdam'><button mat-raised-button color="primary" >Github</button></a> -->
    <!-- <a color="accent" mat-button href='https://www.linkedin.com/in/jack-amsterdam/' target="_blank">Linkedin</a> -->
    <a color="primary" mat-button href='https://www.linkedin.com/in/jack-amsterdam/' target="_blank">Linkedin</a>
    <a color="warn" mat-button href='https://github.com/jackamsterdam' target="_blank">Github</a>

    <!-- <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="jack-amsterdam" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://il.linkedin.com/in/jack-amsterdam?trk=profile-badge">Jack Amsterdam</a></div> -->
              
</div>