$input-font-size: 16px;

// https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e
$shopping-dark-blue: rgb(17, 45, 78);
$shopping-blue:rgb(63, 114, 175);
$shopping-light-blue: rgb(219, 226, 239);
$shopping-white: rgb(249, 247, 247);

$shopping-orange: rgb(255,165,0);