<div class="shopping-info">
    <p class="">We have {{numberOfProducts}} available products in our store!</p>
    <p class="">{{getOrderText()}}</p>
    <ng-container *ngIf="user">
        <!-- option A : open cart -->
        <ng-container *ngIf="currentCart && currentCart._id && !currentCart.isClosed">
            <p class="yellow-font">You have an open cart from {{currentCart.createdAt | date}} in our store with a total
                amount of {{totalAmount | currency: "USD"}}</p>
        </ng-container>
        <!-- option B : past orders -->
        <ng-container *ngIf="!currentCart && lastOrder">
            <p class="yellow-font">Your last purchase was on {{lastOrder.createdAt | date}}</p>
        </ng-container>
        <!-- option C: first purchase -->
        <ng-container *ngIf="!currentCart && !lastOrder">
            <p class="yellow-font">Welcome to your first purchase {{user.firstName | titlecase}}</p>
        </ng-container>
    </ng-container>

</div>