<div class="box">

    <h2>Order</h2>
    <h3>Shopping Details:</h3>

    <form (ngSubmit)="addOrder()" #formInfo="ngForm">

        <br>
        <mat-hint class="populate-info">*Double Click if shipping info is same as user info</mat-hint>
<br>
        <mat-form-field floatLabel="always" appearance="outline"  (dblclick)="doubleClickToPopulate()">
            <mat-label>Ship City: </mat-label>
            <mat-select name="city" [(ngModel)]="order.shipCity"
                required #cityBox="ngModel"  placeholder="Select city...">
                <mat-option *ngFor="let enum of CityEnum | keyvalue" [value]="enum.value">{{enum.value}}</mat-option>
            </mat-select>
            <mat-hint align="end" *ngIf="cityBox.errors?.['required'] && cityBox.touched">Missing city</mat-hint>
        </mat-form-field>


        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Ship Street: </mat-label>
            <input matInput (dblclick)="doubleClickToPopulate()" type="text" name="street"
                [(ngModel)]="order.shipStreet" #streetBox="ngModel" required minlength="2"
                maxlength="100">
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['required']">Missing street</mat-hint>
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['minlength']">Street is too short
            </mat-hint>
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['maxlength']">Street is too long
            </mat-hint>
        </mat-form-field>

        <!--!***************************************************************************  -->

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Shipping Date: </mat-label>
            <!--! type="datetime-local" doesnt work!!!  -->
            <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="myDatePicker" [min]="minDate"
                [max]="maxDate" name="date" [(ngModel)]="order.shipDate" required #dateBox="ngModel" />
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
            <mat-hint align="end" *ngIf="dateBox.errors?.['required'] && dateBox.touched">Missing shipping date
            </mat-hint>
        </mat-form-field>

        <!--!***************************************************************************  -->

        <!-- i made it type string so wont have number up and down sign -->
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Credit card: </mat-label>
            <input matInput type="text" name="creditCard" [(ngModel)]="order.creditCard" required
                #creditCardBox="ngModel" minlength="14" maxlength="16" pattern="^[0-9]{14,16}$">
            <mat-hint class="old-color" align="start">Credit card number between 14-16 characters</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.errors?.['required'] && creditCardBox.touched">Missing credit
                card</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.touched && creditCardBox.errors?.['minlength']">Credit card is
                too short</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.touched && creditCardBox.errors?.['maxlength']">Credit card is
                too long</mat-hint>
            <mat-hint align="end"
                *ngIf="!creditCardBox.errors?.['required'] &&!creditCardBox.errors?.['minlength'] && !creditCardBox.errors?.['maxlength'] && creditCardBox.errors?.['pattern']">
                Invalid credit card </mat-hint>
        </mat-form-field>
        <br>
        <br>

        <button [disabled]="formInfo.invalid" mat-raised-button color="primary">
            <mat-icon color="warn">send</mat-icon>&nbsp;Add Order
        </button>

    </form>
</div>