<div class="place-your-order-container">
    <h2>Place Your Order</h2>
    <form (ngSubmit)="addOrder()" #formInfo="ngForm">
        <mat-hint class="populate-info">*Double Click if shipping info is same as user info</mat-hint>
        <mat-form-field floatLabel="always" appearance="fill" (dblclick)="doubleClickToPopulate()">
            <mat-label>Shipping City: </mat-label>
            <mat-select name="city" [(ngModel)]="order.shipCity" required #cityBox="ngModel"
                placeholder="Select city...">
                <mat-option *ngFor="let enum of CityEnum | keyvalue" [value]="enum.value">{{enum.value}}</mat-option>
            </mat-select>
            <mat-hint align="end" *ngIf="cityBox.errors?.['required'] && cityBox.touched">Missing city</mat-hint>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="fill">
            <mat-label>Shipping Street: </mat-label>
            <input matInput (dblclick)="doubleClickToPopulate()" type="text" name="street"
                [(ngModel)]="order.shipStreet" #streetBox="ngModel" required minlength="2" maxlength="100">
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['required']">Missing street</mat-hint>
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['minlength']">Street is too short
            </mat-hint>
            <mat-hint align="end" *ngIf="streetBox.touched && streetBox.errors?.['maxlength']">Street is too long
            </mat-hint>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="fill">
            <mat-label>Shipping Date: </mat-label>
            <input matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="myDatePicker" [min]="minDate"
                [max]="maxDate" name="date" [(ngModel)]="order.shipDate" required #dateBox="ngModel" />
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
            <mat-hint align="end" *ngIf="dateBox.errors?.['required'] && dateBox.touched">Missing shipping date
            </mat-hint>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="fill">
            <mat-label>Credit card: </mat-label>
            <input matInput type="text" name="creditCard" [(ngModel)]="order.creditCard" required
                #creditCardBox="ngModel" minlength="14" maxlength="16" pattern="^[0-9]{14,16}$">
            <mat-hint class="old-color" align="start">Credit card number between 14-16 characters</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.errors?.['required'] && creditCardBox.touched">Missing credit
                card</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.touched && creditCardBox.errors?.['minlength']">Credit card is
                too short</mat-hint>
            <mat-hint align="end" *ngIf="creditCardBox.touched && creditCardBox.errors?.['maxlength']">Credit card is
                too long</mat-hint>
            <mat-hint align="end"
                *ngIf="!creditCardBox.errors?.['required'] &&!creditCardBox.errors?.['minlength'] && !creditCardBox.errors?.['maxlength'] && creditCardBox.errors?.['pattern']">
                Invalid credit card </mat-hint>
        </mat-form-field>

        <button [disabled]="formInfo.invalid" mat-raised-button class="add-order-btn">
            <mat-icon>send</mat-icon>&nbsp;Pay Now
        </button>
    </form>
</div>