@import '../../../styles/variables/variables.scss';
.delete-btn {
    background-color: $shopping-dark-blue;
    color: $shopping-white;
}

.delete-btn:hover {
    background-color: rgba(17, 45, 77, 0.6);
    cursor: pointer;
}