@import '../../../styles/variables/variables.scss';


form {
    width: 295px;
    margin: 3px;
    padding: 20px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0; 
    font-size: $input-font-size;

}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

// span {
//     color: red;
//     margin: 0 60px;  //!60px
//     position: absolute;
// }

// .ng-touched.ng-invalid:not(form) {
//     border: 2px solid red;
//     background-color: pink;
// }

mat-hint {
    color: red;
}

.login-box {
        display: inline-block;
        margin: 10px;
        padding: 0 10px;
        /* border: 1px solid black; */
        border-radius: 8px;
        box-shadow: 5px 5px 10px;
        text-align: left;
        background: rgba(0, 0, 0, 0.6);
        color: white;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }