@import '../../../styles/variables/variables.scss';


form {
    width: 295px;
    margin: 3px;
    padding: 20px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0; 
    font-size: $input-font-size;

}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

// span {
//     color: red;
//     margin: 0 60px;  //!60px
//     position: absolute;
// }

// .ng-touched.ng-invalid:not(form) {
//     border: 2px solid red;
//     background-color: pink;
// }

mat-hint {
    color: red;
}

.login-box {
        display: inline-block;
        margin: 10px;
        padding: 0 10px;
        /* border: 1px solid black; */
        border-radius: 8px;
        box-shadow: 5px 5px 10px;
        text-align: left;
        background: rgba(219, 226, 239,0.6);
}

.start-shopping-image {
    height: 150px;
}

.start-btn {
    background-color: rgba(17, 45, 78, 0.4);
    color: $shopping-white;
}

.start-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.login-btn {
    background-color: $shopping-dark-blue;
    color: $shopping-white;
}

.login-btn:disabled {
    background-color: rgba(17, 45, 78, 0.6);
    color: $shopping-white;

}

.mat-form-field {
    display: block!important;
}

.sign-up-btn {
    background-color: $shopping-orange;
    color: $shopping-white;
}

.dont-have-an-account {
    margin-right: 23px;
    margin-left: 23px;
}


