<form class="example-form" [ngClass]="(router.url === '/shopping' ? 'move-search' : 'smaller-search')">
  <mat-form-field floatLabel="always" appearance="outline">
    <input (keyup)="searchProduct($event)" type="text" matInput placeholder="Search" name="search" [(ngModel)]="search">
    <mat-icon matPrefix>search</mat-icon>
    <br />
    <button mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="search">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>