.tab-item {
    margin: 3px;
    padding: 4px 11px 3px 4px;
    width: fit-content;
    float: left;
    border-right: 1px solid lightgray;
}

.tab-item:hover {
   cursor: pointer;
   text-decoration: underline;
}

// .tab-content {
//     position: fixed;
// }