img {
    width: 50%;
}

.welcome-header {
    font-weight: 700;
    font-size: 42px;
}

.welcome-small-header {
    font-size: 19px;
}


// how to make child img 100% of div parent ???? without setting div parent כי זה גולש 