mat-sidenav-container {
    height: 100%;
    position: relative;
}

mat-sidenav, mat-sidenav-content {
    padding: 1rem;
}

mat-sidenav {
    background-color: lightcoral;
    width: 400px;
    // position: relative;

    // optional: 
    height: 400px;
    margin: auto;
    border-radius: 0px 8px 8px 0;
}

app-sidenav-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-all {
    position: absolute;
    bottom: 0;
    right: 0;
    // font-size: small;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

// .toggle-button {
//     // position: absolute;
//     // right: 0;
//     // transform: translate(3rem, 3rem);

// }

.button-test {
    height: 44px;
    width: 43px;
    border: 1px solid lightgray;
    border-radius: 0px 8px 8px 0px;
    top: 261px;
    position: absolute;
    z-index: 10000000;
    background-color: white;
    left: 0px;
}

.button-test:hover {
    background-color: lightgray;
    cursor: pointer;
}

.shopping-cart-icon {
    top: 9px;
    position: relative;
}


