@import '../../../styles/variables/variables.scss';


form {
	width: 250px;  //!450px
    margin: 20px;
    padding: 20px;
    margin: auto;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0; 
    font-size: $input-font-size;

}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

// span {
//     color: red;
//     margin: 0 60px;  //!60px
//     position: absolute;
// }

// .ng-touched.ng-invalid:not(form) {
//     border: 2px solid red;
//     background-color: pink;
// }

mat-hint {
    color: red;

}