@import '../../../styles/variables/variables.scss';

form {
    width: 295px;
    margin: 3px;
    padding: 20px;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    font-size: $input-font-size;

}

span {
    color: red;
}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

mat-hint {
    color: red;

}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
    width: 357px;
}


.go-forward-btn {
    background-color: $shopping-dark-blue;
    color: $shopping-white;
    width: 360px;
}

.go-forward-btn:disabled {
    background-color: rgba(17, 45, 78, 0.6);
    color: $shopping-white;
}