<div>
    <mat-horizontal-stepper linear>
        <mat-step label="Register" [completed]="isCompleted">
            <form (ngSubmit)="submitStep1()" #formInfo="ngForm">
                <h2>Step 1</h2>


 <!-- enter social seciruty number !!  -->
                <!-- AAA-GG-SSSS -->
                <!-- placeholder="###-##-####" -->

                <label>SSN: </label>
                <!--! input type text or number??? and how to make xxx-xx-xxxx these - lines between? or send data with lines between???  -->
                <!--! min and max length without - - - will be 9 not 11 btw !!  -->
                <!-- must do front end validation to social only with 9 digits cause in back i dont know how cause i hash it !!  -->
                <input (keydown)="makeDashes($event)" makeDashes2(ssnBox.value)  autofocus type="text" name="ssn" [(ngModel)]="user.socialSecurityNumber" placeholder="###-##-####"
                    #ssnBox="ngModel" required minlength="11" maxlength="11">
                <!-- pattern="/^\d{3}-\d{2}-\d{4}$/" -->
                <span *ngIf="ssnBox.touched && ssnBox.errors?.['required']">Missing SSN</span>
                <span *ngIf="ssnBox.touched && ssnBox.errors?.['minlength']">SSN is too short</span>
                <span *ngIf="ssnBox.touched && ssnBox.errors?.['maxlength']">SSN is too long</span>
                <!-- <span *ngIf="usernameBox.touched && usernameBox.errors?.['required']">Emailis invalid </span> -->
                <!--! Enter pattern regex of SSN validation add pattern and add span  -->

                <label>Email: </label>
                <input  type="email" name="username" [(ngModel)]="user.username" placeholder="email"
                    #usernameBox="ngModel" required minlength="2" maxlength="100">
                <!-- pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" -->
                <span *ngIf="usernameBox.touched && usernameBox.errors?.['required']">Missing email</span>
                <span *ngIf="usernameBox.touched && usernameBox.errors?.['minlength']">Email is too short</span>
                <span *ngIf="usernameBox.touched && usernameBox.errors?.['maxlength']">Email is too long</span>
                <!-- <span *ngIf="usernameBox.touched && usernameBox.errors?.['required']">Emailis invalid </span> -->
                <!--! Enter pattern regex of email validation add pattern and add span  -->

                <label>Password: </label>
                <input type="password" name="password" [(ngModel)]="user.password" placeholder="password"
                    #passwordBox="ngModel" required minlength="2" maxlength="100">
                <span *ngIf="passwordBox.touched && passwordBox.errors?.['required']">Missing password</span>
                <span *ngIf="passwordBox.touched && passwordBox.errors?.['minlength']">Password is too short</span>
                <span *ngIf="passwordBox.touched && passwordBox.errors?.['maxlength']">Password is too long</span>

                <label>Confirm Password: </label>
                <input type="password" name="passwordConfirm" [(ngModel)]="user.password" placeholder="confirm password"
                    #passwordConfirmBox="ngModel" required minlength="2" maxlength="100" ngValidateEqual="password">
                <span *ngIf="passwordConfirmBox.touched && passwordConfirmBox.errors?.['required']">Missing
                    password</span>
                <span *ngIf="passwordConfirmBox.touched && passwordConfirmBox.errors?.['minlength']">Password is too
                    short</span>
                <span *ngIf="passwordConfirmBox.touched && passwordConfirmBox.errors?.['maxlength']">Password is too
                    long</span>

                <p class="warning-text" *ngIf="passwordConfirmBox.hasError('notEqual') && passwordBox.valid">
                    Passwords Don't Match
                </p>

                <!-- <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div> -->


                <button [disabled]="formInfo.invalid" mat-raised-button color="primary" matStepperNext>
                    <mat-icon color="warn">send</mat-icon>&nbsp;Next Step
                </button>

            </form>













            <!-- <div> -->
            <!--! must click twice cause first changes to true then only the matsteppernext will work  -->
            <!-- <button (click)="submitStep1()" mat-button matStepperNext>Next</button> -->
            <!-- </div> -->
        </mat-step>










<!-- part 2  -->





        <mat-step label="Contact Information" completed="false">
            <form (ngSubmit)="submitStep2()" #formInfo="ngForm">
                <h2>Step 2</h2>

                <label>First Name: </label>
                <input type="text" placeholder="first name" name="firstName" [(ngModel)]="user.firstName"
                    #firstNameBox="ngModel" required minlength="2" maxlength="100">
                <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['required']">Missing first name</span>
                <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['minlength']">First name is too short</span>
                <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['maxlength']">First name is too long</span>

                <label>Last Name: </label>
                <input type="text" placeholder="last name" name="lastName" [(ngModel)]="user.lastName"
                    #lastNameBox="ngModel" required minlength="2" maxlength="100">
                <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['required']">Missing last name</span>
                <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['minlength']">Last name is too short</span>
                <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['maxlength']">Last name is too long</span>

              

                <!-- <p *ngFor="let enum of CityEnum | keyvalue">
                    {{ enum.key }} - {{ enum.value}}
                  </p> -->

    

                <label>City</label>
                <select name="city" [(ngModel)]="user.city" required #cityBox="ngModel">
                    <option [ngValue]="undefined" disabled selected>Select city...</option>
                    <!-- <option [selected]="true" [disabled]="true">Select city...</option>
                    <option selected disabled>Select city...</option> -->
                    <!--! works without :  [value]="enum.value" cauae value is the Los Angeles seperetaed dont unserstand the enum properties are LosAngeles not Los angeles so how does it work??? -->
                    <option *ngFor="let enum of CityEnum | keyvalue">{{enum.value}}</option>
                    <!-- <option value=cities.Enum></option> cant do this way? -->
                    <!-- <option *ngFor="let c of cities" [value]="c">{{cities[c]}}</option> -->
                    <!-- <option *ngFor="let enum of CityEnum | keyvalue">coty</option> -->
                    <!-- <option *ngFor="let t of targets" [value]="t._id">{{t.type}}</option> -->
                </select>
                <!-- <span *ngIf="cityBox.errors?.['required'] && cityBox.touched">Missing city</span> -->





                <label>Street: </label>
                <input type="text" placeholder="street" name="street" [(ngModel)]="user.street" #streetBox="ngModel"
                    required minlength="2" maxlength="100">
                <span *ngIf="streetBox.touched && streetBox.errors?.['required']">Missing street</span>
                <span *ngIf="streetBox.touched && streetBox.errors?.['minlength']">Street is too short</span>
                <span *ngIf="streetBox.touched && streetBox.errors?.['maxlength']">Street is too long</span>


                <button [disabled]="formInfo.invalid" mat-raised-button color="primary" matStepperNext>
                    <mat-icon color="warn">send</mat-icon>&nbsp;Submit
                </button>
                <button (click)="cancelAreUnique()" mat-button matStepperPrevious>Back</button>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<!-- (click)="stepper.reset()" -->