@import '../../../styles/variables/variables.scss';


mat-horizontal-stepper {
    // height: 100%;
    width: 50%;
    margin: auto;
}

// mat-step {
//     margin: auto;
// }




form {
	width: 250px;  //!450px
    margin: 20px;
    padding: 20px;
    margin: auto;
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0; 
    font-size: $input-font-size;

}

button {
    width: 100%;
    margin: 10px 0 20px 0;
}

mat-hint {
    color: red;

}