<div>
    <mat-horizontal-stepper linear #stepper>
        <mat-step label="Register">
            <!-- <mat-step label="Register" [completed]="isCompleted"> -->
            <!--! do i need form conrtrol for this also??  -->
            <form [formGroup]="initialInfo">
                <!-- <form (ngSubmit)="submitStep1()" #formInfo="ngForm"> -->
                <h2>Step 1</h2>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>SSN: </mat-label>
                    <!--! input type text or number??? and how to make xxx-xx-xxxx these - lines between? or send data with lines between???  -->
                    <!--! min and max length without - - - will be 9 not 11 btw !!  -->
                    <!-- must do front end validation to social only with 9 digits cause in back i dont know how cause i hash it !!  -->
                    <!-- makeDashes2(ssnBox.value) why cant i send the value of the ssnBox??? -->
                    <input matInput (keydown)="makeDashes($event)" autofocus type="text" placeholder="###-##-####"
                        [formControl]="ssnInput" minlength="11" maxlength="11">
                    <!-- pattern="/^\d{3}-\d{2}-\d{4}$/" -->
                    <mat-hint align="end" *ngIf="ssnInput.touched && ssnInput.errors?.['required']">Missing SSN
                    </mat-hint>
                    <mat-hint align="end" *ngIf="ssnInput.touched && ssnInput.errors?.['minlength']">SSN is too short
                    </mat-hint>
                    <mat-hint align="end" *ngIf="ssnInput.touched && ssnInput.errors?.['maxlength']">SSN is too long
                    </mat-hint>
                    <!-- <span *ngIf="ssnInput.touched && ssnInput.errors?.['invalidRegex']">Emailis invalid </span> -->
                    <!--! Enter pattern regex of SSN validation add pattern and add span  -->

                    <mat-hint align="end"
                        *ngIf="!ssnInput.errors?.['required'] && !ssnInput.errors?.['minlength'] && !ssnInput.errors?.['maxlength'] && ssnInput.invalid && ssnInput.errors?.['invalidRegex']">
                        Social
                        Security number must be in the format of xxx-xx-xxxx</mat-hint>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Email: </mat-label>
                    <input matInput type="email" placeholder="email" [formControl]="usernameInput">
                    <!-- pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"  uniqueEmail="jackkk"-->
                    <!-- form.error  -->
                    <mat-hint align="end" *ngIf="usernameInput.touched && usernameInput.errors?.['required']">Missing
                        email</mat-hint>
                    <mat-hint align="end" *ngIf="usernameInput.touched && usernameInput.errors?.['minlength']">Email is
                        too short</mat-hint>
                    <mat-hint align="end" *ngIf="usernameInput.touched && usernameInput.errors?.['maxlength']">Email is
                        too long</mat-hint>
                    <!-- <span *ngIf="usernameInput.touched && usernameInput.errors?.['invalidEmail']">Email is invalid</span> -->
                    <!-- <span *ngIf="usernameInput.touched && usernameInput.errors?.['uniqueEmail']">Email already exists</span> -->
                    <!-- <span *ngIf="usernameBox.touched && usernameBox.errors?.['required']">Emailis invalid </span> -->
                    <!-- <span *ngIf="usernameInput.invalid && usernameInput.touched">Emailis invalid </span> -->
                    <!-- <span *ngIf="!usernameInput.errors?.['required'] && !usernameInput.errors?.['minlength'] && !usernameInput.errors?.['maxlength'] && usernameInput.invalid && usernameInput.errors?.['pattern']">Emailis invalid </span> -->
                    <mat-hint align="end" *ngIf="!usernameInput.errors?.['required'] && !usernameInput.errors?.['minlength'] && !usernameInput.errors?.['maxlength'] && usernameInput.invalid && usernameInput.errors?.['invalidRegex']"> Email is invalid </mat-hint>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Password: </mat-label>
                    <input matInput type="password" placeholder="password" [formControl]="passwordInput">
                    <mat-hint align="end" *ngIf="passwordInput.touched && passwordInput.errors?.['required']">Missing
                        password</mat-hint>
                    <mat-hint align="end" *ngIf="passwordInput.touched && passwordInput.errors?.['minlength']">Password
                        is too
                        short</mat-hint>
                    <mat-hint align="end" *ngIf="passwordInput.touched && passwordInput.errors?.['maxlength']">Password
                        is too
                        long</mat-hint>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                    <mat-label>Confirm Password: </mat-label>
                    <!--! rehightlit this:  -->
                     <input matInput type="password" placeholder="confirm password"
                        [formControl]="passwordConfirmInput">
                    <mat-hint align="end"
                        *ngIf="passwordConfirmInput.touched && passwordConfirmInput.errors?.['required']">Missing
                        password</mat-hint>
                    <mat-hint align="end"
                        *ngIf="passwordConfirmInput.touched && passwordConfirmInput.errors?.['minlength']">Password is
                        too
                        short</mat-hint>
                    <mat-hint align="end"
                        *ngIf="passwordConfirmInput.touched && passwordConfirmInput.errors?.['maxlength']">Password is
                        too
                        long</mat-hint>
                    <!-- <span *ngIf="passwordConfirmInput.touched && passwordConfirmInput.errors?.['passwordMismatch']">wowowo</span> -->
                    <mat-hint align="end"
                        *ngIf="!passwordConfirmInput.errors?.['required'] && !passwordConfirmInput.errors?.['minlength'] && !passwordConfirmInput.errors?.['maxlength'] && passwordConfirmInput.invalid && passwordConfirmInput.errors?.['passwordMismatch']">
                        Password's
                        don't match </mat-hint>

                    <!-- <p class="warning-text" *ngIf="passwordConfirmInput.hasError('notEqual') && passwordConfirmInput.valid">
                    Passwords Don't Match
                </p> -->

                    <!-- <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div> -->
                </mat-form-field>

                <button [disabled]="initialInfo.invalid" mat-raised-button color="primary" (click)="goForward(stepper)">
                    <mat-icon color="warn">send</mat-icon>&nbsp;Next Step
                </button>

                <!-- !HOw to do this???????????????????????? -->
                <span
                    *ngIf="usernameInput.touched && usernameInput.errors?.['ssnInvalidorEmailInvalid'] && passwordInput.touched && passwordInput.errors?.['ssnInvalidorEmailInvalid']">SSN
                    or Email is already taken</span>
                <span *ngIf="passwordInput.errors?.['ssnInvalidorEmailInvalid']"></span>

            </form>
            <!-- <div>
                {{authForm.valid}} 
                {{authForm.controls}} 
            </div> -->

            <!-- <div> -->
            <!--! must click twice cause first changes to true then only the matsteppernext will work  -->
            <!-- <button (click)="submitStep1()" mat-button matStepperNext>Next</button> -->
            <!-- </div> -->
        </mat-step>



        <!--!--------------------------part 2------------------------------   -->





        <mat-step label="Contact Information" completed="false">
            <form (ngSubmit)="submitStep2()" [formGroup]="authForm">
                <h2>Step 2</h2>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>First Name: </mat-label>
                <input matInput type="text" placeholder="first name" [formControl]="firstNameInput">
                <mat-hint align="end" *ngIf="firstNameInput.touched && firstNameInput.errors?.['required']">Missing first name</mat-hint>
                <mat-hint align="end" *ngIf="firstNameInput.touched && firstNameInput.errors?.['minlength']">First name is too
                    short</mat-hint>
                <mat-hint align="end" *ngIf="firstNameInput.touched && firstNameInput.errors?.['maxlength']">First name is too
                    long</mat-hint>
                </mat-form-field>

                <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Last Name: </mat-label>
                <input matInput type="text" placeholder="last name" [formControl]="lastNameInput">
                <mat-hint align="end" *ngIf="lastNameInput.touched && lastNameInput.errors?.['required']">Missing last name</mat-hint>
                <mat-hint align="end" *ngIf="lastNameInput.touched && lastNameInput.errors?.['minlength']">Last name is too short</mat-hint>
                <mat-hint align="end" *ngIf="lastNameInput.touched && lastNameInput.errors?.['maxlength']">Last name is too long</mat-hint>
            </mat-form-field>



                <!-- <p *ngFor="let enum of CityEnum | keyvalue">
                    {{ enum.key }} - {{ enum.value}}
                  </p> -->

                <mat-form-field floatLabel="always" appearance="outline">
                    <!--! we dont see Select city.....  -->
                    <mat-label>City</mat-label>
                    <mat-select [formControl]="cityInput">
                        <!-- <mat-option [ngValue]="undefined" disabled selected>Select city...</mat-option> -->
                        <mat-option  disabled selected>Select city...</mat-option>
                        <!-- <option [selected]="true" [disabled]="true">Select city...</option>
                    <option selected disabled>Select city...</option> -->
                        <!--! works without :  [value]="enum.value" cauae value is the Los Angeles seperetaed dont unserstand the enum properties are LosAngeles not Los angeles so how does it work??? -->
                        <mat-option *ngFor="let enum of CityEnum | keyvalue" [value]="enum.value">{{enum.value}}
                        </mat-option>
                        <!-- <option value=cities.Enum></option> cant do this way? -->
                        <!-- <option *ngFor="let c of cities" [value]="c">{{cities[c]}}</option> -->
                        <!-- <option *ngFor="let enum of CityEnum | keyvalue">coty</option> -->
                        <!-- <option *ngFor="let t of targets" [value]="t._id">{{t.type}}</option> -->
                    </mat-select>
                    <mat-hint align="end" *ngIf="cityInput.errors?.['required'] && cityInput.touched">Missing city</mat-hint>
                </mat-form-field>



            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Street: </mat-label>
                <input matInput type="text" placeholder="street" [formControl]="streetInput">
                <mat-hint align="end" *ngIf="streetInput.touched && streetInput.errors?.['required']">Missing street</mat-hint>
                <mat-hint align="end" *ngIf="streetInput.touched && streetInput.errors?.['minlength']">Street is too short</mat-hint>
                <mat-hint align="end" *ngIf="streetInput.touched && streetInput.errors?.['maxlength']">Street is too long</mat-hint>
            </mat-form-field>

                <button [disabled]="authForm.invalid" mat-raised-button color="primary" matStepperNext>
                    <mat-icon color="warn">send</mat-icon>&nbsp;Submit
                </button>
                <button (click)="cancelAreUnique()" color="warn" mat-raised-button matStepperPrevious>
                    <mat-icon color="primary">arrow_back</mat-icon>&nbsp;Back
                </button>
           

            </form>
        </mat-step>
    </mat-horizontal-stepper>
    <button mat-raised-button color="accent" routerLink="/home/">
        <mat-icon color="primary">arrow_back</mat-icon>&nbsp;Return to login
    </button>

</div>

<!-- (click)="stepper.reset()" -->