@import '../../../styles/variables/variables.scss';
mat-sidenav-container {
    height: 100%;
    position: relative;
    background-color: transparent;
}

mat-sidenav {
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 0px 3px 3px 0;
     overflow: hidden;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden!important;
}

.delete-all {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.checkout-button {
    height: 44px;
    width: 53px;
    border: 1px solid lightgray;
    border-radius: 0px 8px 8px 0px;
    z-index: 10000000;
    background-color: white; 
}

.checkout-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.shopping-cart-icon {
    top: 9px;
    position: relative;
}

.cateogory-style {
    display: flex;
}

.empty-cart {
    color: $shopping-dark-blue;
    position: relative;
    bottom: 7px;
    text-decoration: auto;
    float: right;
    margin-top: 12px;
    margin-right: 16px;
}

.empty-cart:hover {
    color: $shopping-orange;
    text-decoration: underline;
}

.shopping-cart-container {
    display: grid;
    height: 100%;
    display: grid;
    height: 100%;
    grid-template-rows: 13% 70% 17%;
    padding: 2px 12px 4px 12px;
    box-sizing: border-box;
   background-color: rgba(219, 226, 239, 0.3);
}

.shopping-cart-content {
    overflow: auto;
}

.shopping-cart-footer {
    font-size: 17px;
}

.cart-header {
    display: inline;
}

.checkout-btn {
    background-color: $shopping-orange;
    color: $shopping-white;
    height: 38px;
    border-radius: 24px;
    text-align: center;
}

.checkout-btn:hover {
    cursor: pointer;
}

.total-header {
    display: inline-block;
    font-weight: bold;
    top: -2px;
    position: relative;
}

.total-amount {
    float: right;
    font-weight: bold;
    top: -2px;
    position: relative;
    right: 8px;
}

.no-items {
    position: relative;
    top: 200px;
    left: 150px;
    color: #b1abab
}

.cart-items-amount {
    height: 13px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 17px;
    line-height: 14px;
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 32px;
    padding: 3px;
}

.side-bar-action-button {
    height: 51px;
    width: 55px;
    border: 1px solid lightgray;
    border-radius: 0px 8px 8px 0px;
    z-index: 10000000;
    background-color: rgba(255,165,0, 0.5);
    top: 266px;
    position: fixed;
}

.side-bar-action-button:hover {
    cursor: pointer;
}

.cart-side-image {
    height: 38px;
    right: 12px;
    margin-left: 2px;
    margin-top: 6px;
}


// @media only screen and (max-width:615px) {
//     .side-bar-action-button  {
//         // margin-left: 307px;
//         display: none;
//     }


//     mat-sidenav-container {
//        display: flex;
//     //    flex-direction: column;
//        background-color: green;
//     }

//   }