@import '../../../styles/placeholders/placeholders.scss';
@import '../../../styles/variables/variables.scss';

.side-nav-wrapper {
    @extend %display-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-to-shopping-button {
    color: $shopping-dark-blue;
    position: relative;
    text-decoration: auto;
    float: right;
    top: 6px;
}

.back-to-shopping-button:hover {
    cursor: pointer;
    color: $shopping-orange;
    text-decoration: underline;
}

.order-cart-container {
    display: grid;
    height: 100%;
    grid-template-columns: 40% 60%;
    padding: 2px 12px 4px 12px;
    box-sizing: border-box;
    background-color: rgba(219, 226, 239, 0.3);
    padding-top: 16px;
}

.left-side-order {
    display: grid;
    height: 100%;
    grid-template-rows: 10% 80% 10%;
    padding: 2px 12px 4px 12px;
    box-sizing: border-box;
    background-color: rgba(219, 226, 239, 0.3);
    height: 408px;
}

.order-cart-content {
    overflow: auto;
}

.order-cart-footer {
    font-size: 17px;
    margin-top: 14px;
}

.left-side-order {
    margin-right: 51px;
}

.right-side-order {
    margin-left: 81px;
    width: 464px;
}

.total-header {
    display: inline-block;
    font-weight: bold;
    top: -2px;
    position: relative;
}

.total-amount {
    float: right;
    font-weight: bold;
    top: -2px;
    position: relative;
    right: 8px;
}

.order-cart-header {
    display: inline-block;
}

@media only screen and (max-width:950px) {
    .left-side-order {
        width: 300px;
    }

    .order-cart-container {
        width: fit-content;
    }

    .right-side-order {
        margin-left: 10px;
    }

}


@media only screen and (max-width:615px) {
    .order-cart-container {
        display: flex;
        flex-direction: column;
    }
}