<form #formBox="ngForm">
    <h2 mat-dialog-title>Choose total quantity</h2>
    <mat-dialog-content>
        <label>Total Quantity:</label>
        <input #quantityBox="ngModel" [(ngModel)]="quantity" name="quantity" type="number" step="1.00" min="1"
            max="100">
        <span *ngIf="quantityBox.touched && quantityBox.errors?.['min']">Quantity cannot be 0 or negative </span>
        <span *ngIf="quantityBox.touched && quantityBox.errors?.['max']">Quantity cannot exceed 100 </span>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-dialog-close [mat-dialog-close]="quantityBox.value" [disabled]="formBox.invalid" mat-raised-button
            class="add-quantity">
            &nbsp;Add</button>
        <button mat-raised-button mat-dialog-close [mat-dialog-close]="false" class="add-quantity">
            &nbsp;Close</button>
    </mat-dialog-actions>
</form>


