@import '../../../styles/placeholders/placeholders.scss';


div {
    height: 100%;
    border: 1px solid black;
    background: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

}

app-login {
    // change into placeholder file instead cause this repeats itself in order !! 
    // background: lightblue;
    // border: 1px solid black;
    // height: 80%;
    // width: 30%;
    // border-radius: 8px;
    // which is : 
    @extend %display-box;

}

app-about {
    @extend %display-box;
}

app-shopping-info {
    @extend %display-box;
}