<!-- <div class="home-page-container">
    <app-login></app-login>
    <app-about></app-about>
    <app-shopping-info></app-shopping-info>
</div> -->

<div class="cater3-movingBG">
<div class="flyinTxtCont">
  <div class="flyIn lineOne">
    <app-about></app-about>
    <!-- <div class="box1">Hi Regina&Jack</div> -->
  </div>
  <!-- <div class="flyIn lineTwo">
    <app-shopping-info></app-shopping-info>
    
    <div class="box2">This is an example </div>  -->
    <div class="flyIn lineThree">
      <app-shopping-info></app-shopping-info>
        <!-- <div class="box3">Niv is a king</div></div> -->  </div>
  </div>

  <app-login></app-login>
</div>
