<!-- <app-categories-list></app-categories-list> -->
<!-- <app-cart-list></app-cart-list> -->
<!-- <app-products-list></app-products-list> -->


<!-- <div>
    <app-login></app-login>
    <app-about></app-about>
    <app-shopping-info></app-shopping-info>
</div> -->
<!-- <div class="admin-layout" > -->


<!-- <div class="add-and-update"> -->
<!-- <app-add-product></app-add-product>
<app-update-product></app-update-product> -->
<!-- </div> -->

<!-- <div class="together">
    <app-category-list></app-category-list>
    <app-product-list></app-product-list>
</div> -->
<!-- <div class="category-style"> -->
<!-- <app-category-list></app-category-list> -->
<!-- </div> -->

<!-- <div class="product-list"> -->
<!-- <app-product-list></app-product-list> -->
<!-- </div> -->



<!-- </div> -->



<div class="admin-layout">
    <!-- <app-add-product></app-add-product>
    <app-update-product [productToEdit]="editedProduct"></app-update-product> -->
    <!--! decided to put it in same component so passing props to props to props :  -->
    <app-add-or-update-product [productToBeEdited]="editedProduct"></app-add-or-update-product>

    <div class="together">
        <app-category-list></app-category-list>
        <app-product-list (editProductEmit)="productToEdit($event)"></app-product-list>
    </div>
</div>