@import '../../../styles/placeholders/placeholders.scss';

.admin-layout {
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    overflow: auto;
}

.add-and-update{
    @extend %display-box;
}

app-add-product {
    @extend %display-box;
}
app-update-product {
    @extend %display-box;
}

mat-sidenav-container {
    height: 100%;
    position: relative;
}

mat-sidenav {
    background-color: rgba(219, 226, 239, 0.3);;
    width: 400px;
    margin: auto;
    border-radius: 0px 8px 8px 0;
}

.mat-drawer-container {
    background-color: transparent;
}

.product-and-category {
    display: flex;
    flex-direction: column;
}

.action-button {
    height: 51px;
    width: 55px;
    border: 1px solid lightgray;
    border-radius: 0px 8px 8px 0px;
    z-index: 10000000;
    background-color: rgba(255,165,0, 0.5);
    top: 266px;
    position: fixed;
}

.action-button:hover {
    cursor: pointer;
}

.tab-icon {
    top: 15px;
    position: relative;
    left: 14px;
}