@import '../../../styles/placeholders/placeholders.scss';

.admin-layout {
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    overflow: auto;
}

.add-and-update{
    @extend %display-box;
}

app-add-product {
    @extend %display-box;
}
app-update-product {
    @extend %display-box;
}

.product-and-category {
    display: flex;
    flex-direction: column;
}

.action-button {
    height: 44px;
    width: 43px;
    border: 1px solid lightgray;
    border-radius: 0px 8px 8px 0px;
    z-index: 10000000;
    background-color: white; 
}

.action-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.tab-icon {
    top: 9px;
    position: relative;
}

// move this to top: (((((((((((((((((

mat-sidenav-container {
    height: 100%;
    position: relative;
}

mat-sidenav {
    background-color: lightcoral;
    width: 400px;
    margin: auto;
    border-radius: 0px 8px 8px 0;
}

.mat-drawer-container {
    background-color: transparent;
}