
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkcyan;
    background-image: linear-gradient(45deg, lightblue, white);

}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// * {
//     font-family: 'Poppins', sans-serif!important;
  
//   }

select, input {
    font-size: large;
}

a {
    color: blue;
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}

// select,
// input,
// button {
//   font-size: large;
// }
// * {
//     // this messes up the cart icons!!! 
//     font-family: 'Poppins', sans-serif!important;
  
//   }

/* scroll bar styling */

::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(150, 145, 145);
  }
  
  /* Handle on hover */
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 123, 123);
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 12px;
    background-color: rgb(129, 123, 123);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    background: rgb(150, 145, 145);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: rgb(129, 123, 123);
  }
  
  