<!-- <button>update-product works!</button> -->
<!-- {{productToEdit?.name}} -->
<!--no: {{productToEdit.quantity}} -->
<!-- {{productToEdit?.price}} -->
<!-- dont use p      -->


<!-- <div class="box" *ngIf="productToEdit"> -->
<div class="box" *ngIf="productToEdit && !buttonPlusVisible">
    <form (ngSubmit)="update()" [formGroup]="productForm">
        <h2>Edit Product</h2>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Name: </mat-label>
            <input autofocus matInput type="text" [formControl]="nameInput">
            <mat-hint align="end" *ngIf="nameInput.touched && nameInput.errors?.['required']">Missing name</mat-hint>
            <mat-hint align="end" *ngIf="nameInput.touched && nameInput.errors?.['minlength']">Length must be minimum 2
                chars</mat-hint>
            <mat-hint align="end" *ngIf="nameInput.touched && nameInput.errors?.['maxlength']">Length must be maximum
                100 chars</mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Price: </mat-label>
            <input matInput type="number" step="0.01" [formControl]="priceInput">
            <mat-hint align="end" *ngIf="priceInput.touched && priceInput.errors?.['required']">Missing price</mat-hint>
            <mat-hint align="end" *ngIf="priceInput.touched && priceInput.errors?.['min']">Price can't be negative
            </mat-hint>
            <mat-hint align="end" *ngIf="priceInput.touched && priceInput.errors?.['max']">Price can't exceed 10000
            </mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Category: </mat-label>
            <mat-select name="categoryId" [formControl]="categoryIdInput" placeholder="Select category...">
                <!-- <mat-option disabled selected>Select category...</mat-option> -->
                <mat-option *ngFor="let c of categories" [value]="c._id">{{c.name}}</mat-option>
            </mat-select>
            <mat-hint align="end" *ngIf="categoryIdInput.errors?.['required'] && categoryIdInput.touched">Missing
                category</mat-hint>
        </mat-form-field>

        <!-- <label>Image: </label>
        <input type="file" accept="image/*" #imageBox [formControl]="imageInput"> -->

        <!-- stack overflow display nicer file input:  -->
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input accept="image/*" #imageBox [formControl]="imageInput" hidden (change)="onFileSelected($event)" #fileInput
            type="file">
        <mat-hint align="end" class="file-name" [ngClass]="dynamicClass">{{selectedFile?.name}}</mat-hint>


        <button mat-raised-button color="warn" [disabled]="productForm.invalid">Update</button>
    </form>
</div>